
/*{{{ Fonts*/
@font-face{
	font-family: "Alex Brush";
	src: url(fonts/AlexBrush-Regular.ttf);
}
@font-face{
	font-family: "King Basil";
    src: url("fonts/King-Basil-Lite.otf") format("opentype");
}
/*}}}*/

/*{{{Global Styling*/
/* root font-size=16px*/
body{
	background-color: #f6f6f6;
}
main,header,nav,section,footer{display:block;}
/*}}}*/

/*{{{Background Overlay Styling*/
header {
    -webkit-transition: -webkit-filter 300ms;
    -moz-transition: -moz-filter 300ms;
    -o-transition: -o-filter 300ms;
    transition: -webkit-filter 300ms ,filter 300ms;
}
header::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	background-image: url('media/bg_pattern.png');
}
/*}}}*/

/*{{{Navbar styling*/
nav{
    position: absolute;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-family: normal;
    z-index: 999;
}
/*Title bar is nav bar in smaller media*/
.title-bar {
	background-color: transparent;
	padding: 0.9rem;
	color: rgba(255,255,255,.8);
}
.title-bar:hover {
	color: #fff;
}
/*Top bar is nav bar in larger media*/
.top-bar {
	background-color: transparent;
}
.top-bar ul {
	background-color: transparent;
}
/*Nav bar lists including logo*/
.top-bar ul li {
	text-transform: uppercase;
    letter-spacing: 2px;
}
/*Nav bar links*/
.top-bar ul li a {
	color: rgba(255,255,255,.8);
    margin: 0 0.1rem;
}
.top-bar ul li a:hover {
	color: black;
    background-color: #fff;
}

/*}}}*/

/*{{{Frontpage Header*/
header {
    height: 100vh;
    text-align: center;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-image: url(media/macbook.jpg);
    background-color: #222;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#frontpage-name {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 65%;
    margin: -10% 0 0 -32%;
}
#frontpage-name h1  {
    font-family: Papyrus;
}
#frontpage-name hr {
    max-width: 18.75rem;
    margin: 0 auto;
}
/*}}}*/

main hr{
	margin: 2.5rem auto;
}
/*Sections*/
#main-content section:nth-child(2n+2){
    background-color: #edeeef;
}
section{
	padding-top: 5rem;
	padding-bottom: 5rem;
}
section h2{
	text-align: center;
}
section h2, section h4{
    color: rgba(26,26,26,.9);
}

#profile .row div:nth-child(2){
	text-align: center;
}
#profile .thumbnail{
	width: 11.25rem;
	border-radius: 50%;
}
#resume .thumbnail{
	max-width: 10rem;
}
