/*Small Only*/
@media only screen and (max-width: 40em) {
	.menu-text {
	  display: none !important;
	}
    #frontpage-name hr {
        max-width: 175px;
    }
    nav{
        background-color: black;
    }
    .top-bar ul li{
        font-size: 12px;
    }
    .top-bar ul li a{
        padding: 0.7rem 0.5rem !important;
    }
    #profile > div .row{
       padding-left: 2rem; 
       padding-right: 2rem; 
    }
    #projects .row > div:not(:last-child){
        margin-bottom: 1rem; 
    }
}
/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}
