
/*{{{ Fonts*/
@font-face{
	font-family: "Alex Brush";
	src: url(fonts/AlexBrush-Regular.ttf);
}
@font-face{
	font-family: "King Basil";
    src: url("fonts/King-Basil-Lite.otf") format("opentype");
}
/*}}}*/

/*{{{Global Styling*/
body{
	background-color: #f6f6f6;
}
main,header,nav,section,footer{display:block;} 

header{
    position: relative;
    height: 400px;
}
nav{
    position: absolute;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-family: normal;
    z-index: 999;
}

.container{
    max-width: 1280px;
    padding: 40px 180px;
    margin-left: auto;
    margin-right: auto;
}
/*}}}*/

/*{{{Background Overlay Styling*/
#background, #frontpage-header {
    -webkit-transition: -webkit-filter 300ms;
    -moz-transition: -moz-filter 300ms;
    -o-transition: -o-filter 300ms;
    transition: -webkit-filter 300ms ,filter 300ms;
}
#frontpage-header::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	background-image: url('media/bg_pattern.png');
}
/*}}}*/

/*{{{Navbar styling*/
/*Title bar is nav bar in smaller media*/
.title-bar {
	background-color: transparent;
	padding: 0.9rem;
	color: rgba(255,255,255,.8);
}
.title-bar:hover {
	color: #fff;
}
/*Top bar is nav bar in larger media*/
.top-bar {
	background-color: transparent;
}
.top-bar ul {
	background-color: transparent;
}
/*Nav bar lists including logo*/
.top-bar ul li {
	text-transform: uppercase;
    letter-spacing: 2px;
}
/*Nav bar links*/
.top-bar ul li a {
	color: rgba(255,255,255,.8);
    border: 1px solid rgba(0,0,0,0);
}
.top-bar ul li a:hover {
	color: #fff;
    border: 1px solid white;
}
/*}}}*/

/*{{{Frontpage Header*/
#frontpage-header {
    max-height: 500px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-image: url(media/macbook.jpg);
}
#frontpage-name {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40%;
    width: 65%;
    margin: -5% 0 0 -32%;
}
#frontpage-name h1  {
    font-family: Papyrus;
}
#frontpage-name hr {
    max-width: 300px;
    margin: 0 auto;
}
/*}}}*/

