/*{{{ Fonts*/
@font-face{
	font-family: "Alex Brush";
	src: url("../../fonts/AlexBrush-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "neuton";
    font-style: normal;
    font-weight: normal;
	src: url("../../fonts/Neuton-Regular.ttf") format("truetype");
}
@font-face{
	font-family: "brandon";
    font-style: normal;
    font-weight: normal;
	src: url("../../fonts/Brandon-Grotesque-Medium.ttf") format("truetype");
}
/*}}}*/

/*{{{ Defaults*/
* {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

body{
	background-color: #f6f6f6;
    font-family: "neuton",sans-serif !important;
}
/*}}}*/

/*{{{Background/Header/Navbar styling*/
header{
    position:relative;
    height: 100vh;
    overflow: hidden;
}
/*Fixed Background with an image covering the page*/
.background {
    -webkit-transition: -webkit-filter 300ms;
    -moz-transition: -moz-filter 300ms;
    -o-transition: -o-filter 300ms;
    transition: -webkit-filter 300ms ,filter 300ms;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    z-index: -2;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
/*Different background images for other projects*/
#background-home{
    background-image: url("https://johndelion.com/media/095.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#background-countdown{
    background-image: url("https://johndelion.com/media/094.jpg");
}
/*Background overlay*/
#background_overlay{
    background-color: rgba(33, 39, 57, 0.5);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: repeat;
    z-index: -1;
	background-image: url('../../media/bg_pattern.png');
}

/*Top bar is nav bar in larger media*/
.top-bar {
    font-family: "brandon", sans-serif;
	background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    height: 51px;
    z-index: 999;
}
.top-bar ul {
	background-color: transparent;
}
/*Nav bar lists including logo*/
.top-bar ul li {
	text-transform: uppercase;
    letter-spacing: 1px;
}
/*Nav bar links*/
.top-bar ul li a {
	color: rgba(255,255,255,.8);
    margin: 0 0.1rem;
}
.top-bar ul li a:hover {
	color: black;
    background-color: #fff;
}
.menu-text {
    color: #fff;
}
/*}}}*/

/*{{{ Modals*/
#showImage {
    text-align: center;
}
/*}}}*/

/*{{{ Sections*/
#main-content{
    display: block;
    height: auto;
    width: 100%;
    position: relative;
}
section{
	margin-top: 50px;
    text-align: center;
}
.callout{
	margin-bottom: 50px;
}

/*{{{ Picture Section*/
.squares{
    height: 100%;
}
.squares img{
    border: 1px solid rgba(0,0,0,0.1);
}
.squares i{
    height: 206px;
    width: 206px;
    margin: 2px 3px;
}
.squares i{
    background-size: cover;
    background-position: 50%, 25%;
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}
.squares i:after{
    border: 1px solid rgba(0,0,0,0.1);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    bottom:0;
}
/*}}}*/
/*}}}*/
@media only screen and (min-width: 40em) {
    .squares .clip {
        display: inline-block;
        position: relative;
        height: 206px;
        width: 206px;
        overflow: hidden;
    }
    .squares .clip img{
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: none;
        transform: translate(-50%, -45%);
        -webkit-transform: translate(-50%, -45%);
        -moz-transform: translate(-50%, -45%);
        -o-transform: translate(-50%, -45%);
    }
}

@media only screen and (max-width: 40em) {
	.menu-text {
        display: none !important;
    }
    #background-home{
        background-attachment: scroll;
    }
}

/*{{{ CSS for OLD HTML/
.top{
	height: auto;
	width: 100%;
	max-width: 100%;
	position: relative;
}
.top > img{
	width: 100%;
	max-width: 100%;
	z-index: -9999;
}
#top_title{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 5rem;
}
#countdown{
    font-family: sans-serif;
    display: inline-block;
    font-weight: 100;
    text-align: center;
}

#countdown > div{
    padding: 20px;
    display: inline-block;
}

.anniversary > div{
    padding: 4px !important;
}

.anniversary div > span{
    padding: 10px;
    border-radius: 3px;
    background: #cceaff;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 12px;
}
.largetext{
	font-size: 3em;
}
/*}}}*/
